@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

< !-- Start preloader coding -->

.loader_container{
	width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.left-slide,.right-slide{
	width: 100%;
	position: absolute;
	min-height: 50%;
	background: #ccc;
}

.left-slide{
	left: 0;
	top: 0;
}

.right-slide{
	right:0;
	bottom: 0;
}

.loader_icon{
	position: absolute;
	top: 50%;
	left: 45%;
	color: #FF0E0F;
	font-size: 80px;
}

.img-cont{
	width: 25%;
	margin: 20px auto;
}

.text-cont{
	width: 50%;
	margin: 0px auto;
	text-align: center;
}

.text-cont p{
	text-align: justify;
}

< !-- End preloader coding -->

/*responsive coding*/

@media only screen and (max-width: 992px){
	.loader_icon{
		top: 50%;
		left: 40%;
		font-size: 60px;
	}

	.img-cont{
		width: 50%;
	}

	.text-cont{
		width: 90%;
	}
}